<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2020 OpenSynergy Indonesia
     Copyright 2020 Simetri Sinergi
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <data>
        <menuitem id="ssi_menu_hr_root" name="Human Resources" sequence="75" />

        <menuitem
            id="ssi_menu_hr_main"
            name="Human Resources"
            parent="ssi_menu_hr_root"
            sequence="1"
        />

        <menuitem
            id="ssi_menu_hr_humanresources"
            name="Employee"
            parent="ssi_menu_hr_root"
            sequence="2"
        />
        <menuitem
            id="hr_menu_hr_reports"
            name="Reporting"
            parent="ssi_menu_hr_root"
            sequence="95"
        />
        <menuitem
            id="ssi_menu_human_resources_configuration"
            name="Configuration"
            parent="ssi_menu_hr_root"
            sequence="100"
        />

            <menuitem
            id="ssi_menu_human_resources_configuration_employee"
            name="Employee"
            parent="ssi_menu_human_resources_configuration"
            sequence="1"
        />

            <menuitem
            id="ssi_menu_hr_configuration_organization"
            name="Structure Organization"
            parent="ssi_menu_human_resources_configuration"
            sequence="2"
        />

            <menuitem
            id="ssi_menu_hr_configuration_hr_job_family"
            name="Job Family Modelling"
            parent="ssi_menu_human_resources_configuration"
            sequence="3"
        />
    </data>
</odoo>
